.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
  }
  
  .question-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 12px;
    border: 0.2vw solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .quiz-title {
    font-size: 28px;
    color: white;
    margin-bottom: 10px;
  }
  
  .progress-bar-custom {
    height: 20px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .question-text {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  
  .question-image {
    width: 496px;
    height: 330.89px;
    border-radius: 8px;
    margin: 10px 0;
  }
  
  .options-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option-button {
    width: 100%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .option-button:hover {
    background: rgba(1, 67, 209, 0.7);
  }
  
  .restart-button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .restart-button:hover {
    background-color: #45a049;
  }
  